body{
    font-size: 2em;
}

a {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/228448/external-link-symbol.png) no-repeat center right /2rem;
    padding-right:2.2rem;
}

[href^="/"],
[href^="https://www.fundacionunam.org.mx/auriazul/la-unam-te-ofrece-cursos-online-y-gratuitos/"] {
    color: darkturquoise;
    background: none;
}


h1{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #0838c7;
    background-color: slategray;
    border-style: solid;
    border-color: saddlebrown;
    border-width: 2px;
    margin: 14px;
    padding: 10px;
    border-radius: 14x;
}